<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">工作室日志</h2>
                    <h3 class="section-subheading text-muted">“昨天的经历都将成为明天的力量”</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022/04/11</h4>
                                    <h4 class="subheading">Asoul桌宠v1.0.0 上架谷歌商店以及微软Edge商店</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">经过三个星期的开发，Asoul桌宠问世</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022/05/04</h4>
                                    <h4 class="subheading">Asoul桌宠的Demo视频在B站播放，获得3.7万播放量</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">这项宣传让Asoul桌宠的下载量增至3000，每周用户增至2000. <a href="https://www.bilibili.com/video/BV1744y1u7ym/">B站视频链接</a></a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022/05/28</h4>
                                    <h4 class="subheading">Asoul桌宠获得字节跳动x稀土掘金编程挑战赛第二名以及最佳人气奖</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">这项荣誉激励我们继续前进</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022/06/01</h4>
                                    <h4 class="subheading">EDG桌宠决定制作，计划将在一个月左右完成并发布</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">敬请期待</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>我们的
                                    <br>故事
                                    <br>还在继续</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>