<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">成员</h2>
                    <h3 class="section-subheading text-muted">"欢迎更多的画师和开发者加入我们，联系邮箱: fffeilian@gmail.com</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">免责声明：本工作室作品全部二创，全部内容禁止商业使用。任何工作室二创的作品，原作者依然持有商业使用其作品的权利。
                        如果您希望商业使用这些被收录的内容，请与所有 参与此作品创作的原作者 和/或 版权持有者 进行协商。在与所有人达成协议后，方可商业使用。</p>
                </div>
            </div>
        </div>
    </section>